@import '../../node_modules/ng-zorro-antd/ng-zorro-antd.dark.min.css';

:root {
    color-scheme: dark;
}

body {
    background-color: #2f2f2f;
}

.ant-tabs-nav-wrap {
    background-color: #0003 !important;
}

.ant-tabs-tab {
    background-color: #0003 !important;
}

.ant-tabs-tab-active {
    background-color: rgba(255, 255, 255, .04) !important;
    border-bottom-color: #303030 !important;
}