#list {
    overflow-y: scroll;
    height: 100%;
}

#list p {
    padding: 16px;
}

.item {
    padding: 16px;
    display: flex;
    gap: 10px;
}

#filename {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.item:hover {
    background-color: #dcf6ff;
    cursor: pointer;
}