<nz-list id="list">
    @for (fileItem of fileItems; track $index) {
    <nz-list-item class="item">
        <span nz-icon nzType="file"></span>
        <span id="filename" nz-typography>{{ fileItem.filename }}</span>
        <a nz-dropdown [nzDropdownMenu]="menu">
            {{fileItem.encodings[fileItem.selectedEncodingIndex]}}
            <span nz-icon nzType="down"></span>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
                @for (encoding of fileItem.encodings; track $index) {
                <li nz-menu-item (click)="onChangeEncoding(fileItem, encoding)">{{encoding}}</li>
                }
            </ul>
        </nz-dropdown-menu>
        <button nz-button nzType="default" nzShape="circle" nzDanger (click)="onDelete(fileItem)">
            <span nz-icon nzType="delete"></span>
        </button>
    </nz-list-item>
    } @empty {
        <p>No files opened.</p>
    }
</nz-list>