<p-table #dt [columns]="selectedColumns" [value]="values()" [paginator]="true" [reorderableColumns]="true" selectionMode="single" 
    [scrollable]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20, 50]" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="caption">
        <section class="pb-4">
            <label for="minmax-buttons" class="block">
                First Line:
            </label>
            <p-inputNumber [(ngModel)]="skipLines" mode="decimal" [showButtons]="true" inputId="minmax-buttons"
                [min]="0" [max]="100" />
        </section>
        <section class="pb-4">
            <label for="columns" class="block">
                Columns:
            </label>
            <p-multiSelect inputId="columns" display="chip" [options]="cols()" [(ngModel)]="selectedColumns"
                optionLabel="header" selectedItemsLabel="{0} columns selected"
                [style]="{'min-width': '200px', 'position': 'relative'}" placeholder="Choose Columns" />
        </section>
        <section class="pb-4">
            <p-button icon="pi pi-external-link" label="Export" (onClick)="export(dt)" />
        </section>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" style="text-wrap: nowrap;" pReorderableColumn>
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product let-columns="columns">
        <tr>
            <td *ngFor="let col of columns" style="text-wrap: nowrap;">
                {{product[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>